<div class="container">
</div>
        <div class="swiper-wrapper">
            <div class="swiper-slide hero-content-wrap ">
                <img src="assets/hero.jpg" alt="">

                <div class="hero-content-overlay position-absolute w-100 h-100">
                    <div class="container h-100">
                        <div class="row h-100">
                            <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-start">
                                <header class="entry-header">
                                    <h1></h1>
                                    <br>
                                    <h2>Ecología recompensada.</h2>
                                    <div class="entry-content mt-4">
                                        <p></p>
                                    </div><!-- .entry-content -->
                                </header><!-- .entry-header -->

                                <footer class="entry-footer d-flex flex-wrap align-items-center mt-5">
                                    <a href="#ancla" class="btn gradient-bg mr-2">¡Sumate!</a>
                                </footer><!-- .entry-footer -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .hero-content-overlay -->

