/*
# Welcome
--------------------------------*/
.home-page-welcome {
    position: relative;
    padding: 96px 0;
    background-size: cover;
    z-index: 99;
}

.home-page-welcome::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(21,21,21,.9);
}

.welcome-content .entry-title {
    position: relative;
    padding-bottom: 24px;
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}

.welcome-content .entry-title::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 64px;
    height: 4px;
    border-radius: 2px;
    background: #80D305;
}

.welcome-content .entry-content {
    font-size: 14px;
    line-height: 2;
    color: #b7b7b7;
}

.home-page-welcome img {
    display: block;
    width: 100%;
}

@media screen and (max-width: 992px){
    .home-page-welcome img {
        margin-bottom: 60px;
    }
}
/*
# Button
----------------------------------*/
.btn {
    padding: 18px 40px;
    border: 2px solid #262626;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #262626;
    outline: none;
}

.btn:focus {
    outline: none;
}

.btn.orange-border {
    border-color: #80D305;
}

.btn.orange-border:hover,
.btn.gradient-bg {
    border-color: transparent 0px;
    background: -moz-linear-gradient(180deg, #28a745 0%, #155724 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #28a745), color-stop(100%, #155724)); /* safari4+,chrome */
    background: -webkit-linear-gradient(180deg, #28a745 0%, #155724 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(180deg, #28a745 0%, #155724 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(180deg, #28a745 0%, #155724 100%); /* ie10+ */
    background: linear-gradient(270deg, #28a745 0%, #155724 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#28a745', endColorstr='#ff3600',GradientType=1 ); /* ie6-9 */
    color: #fff;
}