    <div class="home-page-welcome">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 order-2 order-lg-1">
                    <div class="welcome-content">
                        <header class="entry-header">
                            <h2 class="entry-title">¿Qué es EcoDocta?</h2>
                        </header><!-- .entry-header -->

                        <div class="entry-content mt-5">
                            <p>Ecodocta es un proyecto que busca crear una cultura del reciclaje mediante la implementación de máquinas en sectores públicos. Estas máquinas reciben botellas y a cambio premian</p>
                        </div><!-- .entry-content -->

                        <div class="entry-footer mt-5">
                            <a href="#" class="btn gradient-bg mr-2">Saber más</a>
                        </div><!-- .entry-footer -->
                    </div><!-- .welcome-content -->
                </div><!-- .col -->

                <div class="col-12 col-lg-6 mt-4 order-1 order-lg-2">
                    <img src="assets/machine.jpg" alt="máquina recicladora">
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container -->
