    <div class="home-page-events">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="featured-cause">
                        <div class="section-heading">
                            <h2 class="entry-title">¿Quienes somos?</h2>
                        </div><!-- .section-heading -->

                        <div class="cause-wrap d-flex flex-wrap justify-content-between">
                            <figure class="m-0">
                                <img src="assets/eco.png" alt="EcoDocta">
                            </figure>

                            <div class="cause-content-wrap">
                                
                                <div class="entry-content">
                                    <p class="m-0">La filosofía Ecodocta se basa en crear soluciones ambientales económicamente sustentables de impacto significativo en la sociedad a traves del trabajo colaborativo de equipos tanto internos como externos. Asi nos relacionamos con organizaciones motivadas por la misma misión que nosotros: <br> “La misión de impactar positiva y significativamente en la sociedad mediante proyectos comunitariamente sustentables.”</p>
                                </div><!-- .entry-content -->

                                
                            </div><!-- .cause-content-wrap -->

                        </div><!-- .cause-wrap -->
                    </div><!-- .featured-cause -->
                </div><!-- .col -->

                <div class="col-12 col-lg-6">
                    <div class="upcoming-events">
                        <div class="section-heading">
                            <h2 class="entry-title">Colaboradores</h2>
                        </div><!-- .section-heading -->

                        <div class="event-wrap d-flex flex-wrap justify-content-between">
                            <figure class="m-0">
                                <img src="assets/bitcoint.jpg" alt="BitCoin">
                            </figure>

                            <div class="event-content-wrap">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <h3 class="entry-title w-100 m-0"><a href="https://cordobabitcoin.com/">Córdoba Bitcoin</a></h3>
                                </header><!-- .entry-header -->

                                <div class="entry-content">
                                    <p class="m-0">Somos la primera comunidad independiente,libre y abierta de Bitcoin en Córdoba y otras criptomonedas o aplicaciones que usen la tecnología blockchain.</p>
                                </div><!-- .entry-content -->

                            </div><!-- .event-content-wrap -->
                        </div><!-- .event-wrap -->

                        <div class="event-wrap d-flex flex-wrap justify-content-between">
                            <figure class="m-0">
                                <img src="assets/docta.jpg" alt="Docta">
                            </figure>

                            <div class="event-content-wrap">
                                <header class="entry-header d-flex flex-wrap align-items-center">
                                    <h3 class="entry-title w-100 m-0"><a href="https://docta.io">Docta</a></h3>
                                </header><!-- .entry-header -->

                                <div class="entry-content">
                                    <p class="m-0">DOCTA es un proyecto de Educación Social, montado sobre infraestructura Blockchain, donde la comunidad contribuye a producir, distribuir y consumir conocimiento a cambio de una retribución cripto-económica.</p>
                                </div><!-- .entry-content -->

                            </div><!-- .event-content-wrap -->
                        </div><!-- .event-wrap -->

                    </div><!-- .upcoming-events -->
                </div><!-- .col -->

                
            </div><!-- .row -->
        </div><!-- .container -->
    </div><!-- .home-page-events -->
